/* INTERNET EXPLORER FIXES
 **************************/


/* Internet Explorer 10 & 11 */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  
  .col, body {
    display: block;
  }

  .two-col {
    display: flex;
  }

  .social {
    padding: 1em;
  }

  .logo, 
  .loader,
  .slider__item__svg {

  	path {
  		stroke-dashoffset: 0;
  	}

  }

  .details__border--double {
    height: 450px;
  }
	
}



/* Microsoft Edge Styles */

@supports (-ms-accelerator:true) {

  .col, body {
    display: block;
  }

  .two-col {
    display: flex;
  }

  .social {
    padding: 1em;
  }
  
  .logo, 
  .loader,
  .slider__item__svg {

  	path {
  		stroke-dashoffset: 0;
  	}

  }
  
}