/*   LAYOUT
 **************/

html {
	height: 100%;
}

body {
	min-height: 100vh;
}

body, .col, #page {
	display: flex;
	flex-direction: column;
}

.header {
	padding: 2% 2.5%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	position: fixed;
	z-index: 90;
}

.primary, .secondary {
	display: block;
}

.secondary {

	img {
		padding: 0 .5em .5em;
	}

}

@media (min-width: $m) {

	.two-col {
		flex-direction: row;
	}

	.primary, .secondary {
		width: 50%;
	}

	.primary {
		position: fixed;
		height: 100vh;
	}

	.secondary {
		margin-left: 50%;

		img {
			padding: 0 0 .2em;
		}
		
	}
	
}

.footer {
	margin-top: auto;
}




/* Sticky footer */
//@include sticky-footer( $footerheight, '#page','#main','#footer');

