/*   LAYOUT
 **************/


body, #page {
	margin: 0;
	padding: 0;
}

.col, #page {
	display: flex;
	flex-direction: column;
}


.col {
	display: flex;
	flex-direction: column;
}

.primary, .secondary {
	display: block;
}



.header {
	padding: 2% 2.5%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	position: fixed;
	z-index: 90;
}



@media (min-width: $m) {

	.two-col {
		flex-direction: row;
	}

	.primary, .secondary {
		width: 50%;
	}

	.primary {
		position: fixed;
		height: 100vh;
	}

	.secondary {
		margin-left: 50%;
	}
	
}




/* Sticky footer */
//@include sticky-footer( $footerheight, '#page','#main','#footer');

