/*   STATES
 **************/



/* General Hover States */

a {
	@include transition(color)
	&:hover,
	&:focus {
		color: $hover;
	}
}

svg {
	@include transition(transform)
	&:hover,
	&:focus {
		color: $hover;
		transform: scale(1.1);
	}
}



/* Access Navigation Toggle Button */

.access__toggle {

	span,
	span:before,
	span:after {
		background-color: $dark-grey;
		transform-origin: center;
		transition: transform .6s ease-out,
					background-color .6s ease-out;
	}

	span:before {
		top: 10px;
	}

	span:after {
		top: -10px;
	}

}

.is-toggle-active {

	span {
		background:none;
	}

	span:before,
	span:after {
		top: 0;
	}

	span:before {
		transform: rotate(45deg);
	}

	span:after {
		transform: rotate(-45deg);
	}

}



/* Access Nagivation */

.header {
	background: none;
}

.access {
	opacity: 0;
	@include transition(opacity);
}

.is-access-active {
	opacity: 1;
}

.access__list {
	background: none;
	right: -200%;
	transition: right .6s ease-out, 
	    			background .8s ease-out;
}

.is-access-list-active {
	background-color: $violet;
	box-shadow: 0 10px 20px rgba(0,0,0,.1);
	right: 0;
	z-index: 999;
	overflow: auto;
		
}

@media (min-width: $m) {

	.is-header-active {
		background: rgba(255,255,255, 0.8);
	}

	.is-access-list-active {
		background: none;
		box-shadow: none;		
	}

}



/* Featured Image Transitions */

.featured__title {
	opacity: 0;
	@include transition(opacity);

	&:hover,
	&:focus {
		opacity: .9;
	}

}



/* Item Images Transitions */

.item {

	h2 {
		transform: translateY(100%);
		@include transition(transform);
	}

}

.item:hover,
.item:focus {

	h2 {
		transform: translateY(0%);
	}

}



/* Slider Transitions */

.slider__list {
	@include transition(transform);
}







path {
	stroke: $dark-grey;
	stroke-width: 1;
    stroke-dasharray: 21014;
    stroke-dashoffset: 21014;
    fill: none;
    animation: dash 20s linear forwards;
}



@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
  0% { fill-opacity: 0 }
  100% { fill-opacity: 1 }
}