/*      THEME
 ********************/



/* Portfolio Theme Styles */

.portfolio {
	padding-top: 150px;
}

.portfolio-title {
	margin: 1em 0;
}

.page-template-page-portfolio {
	background-color: $light-cream;
}



/* Single Portfolio Theme Styles */

.single-portfolio {
	background-color: $light-cream;
}



/* Pricing Theme Styles */

.pricing {
	padding-top: 150px;
}

.page-template-page-pricing {
	background-color: $violet;
}