/*      THEME
 ********************/



/* Portfolio Theme Styles */

.portfolio {
	padding: 150px 1em 0;
}

.portfolio-title {
	margin: 1em 0;
}

.page-template-page-portfolio {
	background-color: $light-cream;
}



/* Single Portfolio Theme Styles */

.single-portfolio {
	background-color: $light-violet;
}



/* Pricing Theme Styles */

.pricing {
	padding-top: 150px;
}

.page-template-page-pricing {
	background-color: $violet;

	.footer a {

		&:hover,
		&:focus {
			color: $light-cream;
		}

	}
	
}



/* Styles Theme Styles */

.page-template-page-styles {

	.footer {
		display: none;
	}
	
}