/*   FOOTER
 **************/
 


.footer {
	padding: 30px 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.copyright {
	width: 221px;
	text-align: center;
}

@media (min-width: $s) {

	.footer {
		flex-direction: row;
		justify-content: space-between;
	}

	.copyright {
		text-align: left;
	}
	
}



/* Social Icons */

.social-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1em 0;
	width: 120px;

	svg {
		width: 22px;
		height: 22px;

		path {
			fill: $dark-grey;
			stroke: none;
		}
	}

}



